#fade_background_for_set_folder_name_div {
    background-color: #0002;
    width: 50.6%;
    height: 83%;
    position: fixed;
    /* float: left; */
    z-index: 2;
    top: 16.2%;
    left: 50%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
/* #set_folder_name_folderSystem_setSecure_password {
    background-color: #242424;
    width: 53%;
    height: 65%;
    position: absolute;
    z-index: 2;
    top: 14%;
    left: 24%;
    text-align: center;
    color: white;
    padding-top: 3%;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border: 2px solid white;
} */
#set_folder_name_folderSystem_setSecure_password {
    background-color: #242424;
    width: 46%;
    height: 60%;
    position: absolute;
    z-index: 2;
    top: 18%;
    left: 28%;
    text-align: center;
    color: white;
    padding-top: 3%;
    /* border-top-right-radius: 26px; */
    /* border-bottom-left-radius: 26px; */
    border: 2px solid white;
    border-radius: 10px;
}
#password_div_cross_icon{
    position:absolute;
    right:4%;
    top:2%;
    cursor:pointer
}

#headingTwo{
    position:relative;
    left:0%
}

.textfield_setSecure_password{
    font-size: 1.6em;
    font-weight: bolder;
    margin: 5px;
    width: 55px;
    height: 55px;
    background-color: #0005;
    color: white;
    margin-left: -1px;
    text-align: center;
    border-right: 1px solid teal;
    border-bottom: 1px solid teal;
}

#inputButtonsPasswordSecurity {
    width: 78%;
    position: absolute;
    left: 11%;
    padding: 3%;
}
#clear_text_button{
    position:absolute;
    right:4%;
    bottom:4%
}
#password_enter_div{
    position:absolute;
    left:24%;
    bottom:4%
}