#fade_background_for_set_folder_name_div {
    background-color: #0001;
    width: 50.6%;
    height: 84%;
    position: fixed;
    /* float: left; */
    z-index: 2;
    top: 16.2%;
    left: 50%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(4px);
}
/* #secureFolder_dialogue_box {
    background-color: #242424;
    width: 50%;
    height: 56%;
    position: absolute;
    z-index: 2;
    top: 17%;
    left: 24%;
    text-align: center;
    color: white;
    border-top-right-radius: 26px;
    border-bottom-left-radius: 26px;
    border: 2px solid white;
} */
#secureFolder_dialogue_box {
    background-color: #242424;
    width: 44%;
    height: 54%;
    position: absolute;
    z-index: 2;
    top: 17%;
    left: 29%;
    text-align: center;
    color: white;
    border-radius: 9px;
    /* border-top-right-radius: 26px; */
    /* border-bottom-left-radius: 26px; */
    border: 2px solid white;
}

#confirmation_div_cross_icon{
    position:absolute;
    right:4%;
    top:2%;
    cursor:pointer
}
#folder_name_input{

    background-color: #0002;
    border-bottom-color: cadetblue;
    border-radius: 2px;
    border-top-color: #0001;
    border-right-color: cadetblue;
    border-left-color: #0001;
    outline: none;
    color: azure;
    font-size: 1.3vw;
    position: relative;
    top: 5%;

}

#folder_name_input::placeholder{
    color:cadetblue;
}
    
#password_div_button{
    position:absolute;
    left:33%;
    bottom:28%
}